<h1>Listing entries</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Task</th>
      <th>Date</th>
      <th>Hours done</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user_project.user.username %></td>
        <td><%= entry.project.name %></td>
        <td><%= entry.task.name %></td>
        <td><%= entry.date_when_done %></td>
        <td><%= entry.hours_done %></td>
        <td><%= entry.description %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, class:"btn btn-primary", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path, class:"btn btn-primary" %>
