<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Project</th>
    <th>Task</th>
    <th>Date</th>
    <th>Hours done</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @entry.project.name %></td>
        <td><%= @entry.task.name %></td>
        <td><%= @entry.date_when_done %></td>
        <td><%= @entry.hours_done %></td>
        <td><%= @entry.description %></td>
        <td><%= link_to 'Edit', edit_entry_path(@entry) %></td>
        <td><%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
<p>
  <strong>Task:</strong>
  <%= @entry.task.name %>
</p>
<p>
  <strong>Date when done:</strong>
  <%= @entry.date_when_done %>
</p>

<p>
  <strong>Hours done:</strong>
  <%= @entry.hours_done %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>



<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
