<h1>Listing tasks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hour budget</th>
      <th>Project</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, edit_task_path(task) %></td>
        <td><%= task.hour_budget %></td>
        <td><%= task.project.name %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class:"btn btn-primary" %>
