<%= form_for(@user_project) do |f| %>
  <% if @user_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_project.errors.count, "error") %> prohibited this user_project from being saved:</h2>

      <ul>
      <% @user_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.select :user_id, options_from_collection_for_select(@users, :id, :username, selected: @user_project.user_id) %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.select :project_id, options_from_collection_for_select(@projects, :id, :name, selected: @user_project.project_id) %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
