<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_project.user.username %>
</p>

<p>
  <strong>Project:</strong>
  <%= @user_project.project.name %>
</p>

<%= link_to 'Edit', edit_user_project_path(@user_project), class:"btn btn-primary" %> |
<%= link_to 'Back', user_projects_path, class:"btn btn-primary" %>
