<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Work hour budget:</strong>
  <%= @project.work_hour_budget %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @project.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @project.end_time %>
</p>

<p>
  <strong>Projects tasks</strong>
  <table class="table table-hover">
    <thead>
        <tr>
          <td>Task name</td>
          <td>Work hour budget</td>
        </tr>
    </thead>
  <% @tasks.each do |task| %>
  <tbody>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.hour_budget %></td>
      </tr>
  </tbody>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_project_path(@project), class:"btn btn-primary" %> |
<%= link_to 'Back', projects_path, class:"btn btn-primary" %>
