<%# add navigation links to this file %>
<li><%= link_to 'projects', projects_path %></li>
<li><%= link_to 'tasks', tasks_path %></li>
<li><%= link_to 'users', users_path %></li>
<% if not current_user.nil? %>
    <li><%= link_to 'join user to project', user_projects_path %></li>
    <li><%= link_to 'signout', signout_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'signin', signin_path %></li>
    <li><%= link_to 'signup', signup_path %></li>
<% end %>

